# Python
.venv/
__pycache__/
*.pyc

# DVC
.dvc/tmp/
.dvc/cache/

# OS/editor
.DS_Store

Guideliness.txt

# Data (never store big data in Git)
data/

# Docker build artifacts
*.tar
*.tar.gz
*.zip

# Lambda deployment packages
infra/lambdas/*/*.tar
infra/lambdas/*/*.zip